### 0. 데이터로딩

In [1]:
import joblib
import pandas as pd
def get_nouns(text):
    return 1
with open('tdm.pkl', 'rb') as f:
    data = joblib.load(f)
    print(data.keys())
    locals().update(data)
    del data
df = pd.read_csv('review_full.csv')

dict_keys(['cv', 'tfidf', 'tdm_cv', 'tdm_tfidf'])

## 1. 감성사전

In [2]:
from sklearn.linear_model import LinearRegression #평점예측용 모델
# from sklearn.linear_model import LogisticRegression #긍/부정분류

In [4]:
model = LinearRegression()
model.fit(tdm_cv, df.평점)

LinearRegression()

In [5]:
model.score(tdm_cv, df.평점)

0.22413808565925408

In [9]:
model.coef_[:10]

array([ 0.12263052,  0.12787418,  0.01271373, -0.06115039,  0.04225387,
       -0.02870932, -0.0455514 , -0.0195337 ,  0.04705164, -0.04324456])

In [11]:
import pandas as pd
sent_df = pd.DataFrame({'단어': cv.get_feature_names(), '계수': model.coef_})
sent_df

      단어        계수
0     !!  0.122631
1    !!!  0.127874
2     가게  0.012714
3     가격 -0.061150
4     가도  0.042254
..   ...       ...
995   후식  0.043163
996   후회  0.164468
997   휴가  0.146536
998   휴식  0.160904
999   흥미  0.060499

[1000 rows x 2 columns]

In [14]:
pos_df = sent_df[sent_df['계수']>0].sort_values(by='계수', ascending=False)
pos_df

       단어        계수
673    입안  0.380151
927  하나하나  0.353758
785    진짜  0.343156
551    예술  0.302380
813    최고  0.297262
..    ...       ...
85     구사  0.001282
534    여성  0.001137
846    코스  0.000754
376   사이드  0.000530
536    여자  0.000281

[580 rows x 2 columns]

In [15]:
neg_df = sent_df[sent_df['계수']<0].sort_values(by='계수')
neg_df

     단어        계수
817  최악 -1.560181
280  무례 -1.305833
282  무시 -0.783516
596  위생 -0.692878
863  태도 -0.691100
..   ..       ...
834  카페 -0.000820
844  케익 -0.000758
512  약간 -0.000518
145  뉴욕 -0.000298
264  메뉴 -0.000263

[420 rows x 2 columns]

## 2. 감성분석

In [18]:
import numpy as np
sent_df['극성'] = np.sign(sent_df['계수'])
sent_df.set_index('단어', inplace=True)
sent_df

           계수   극성
단어
!!   0.122631  1.0
!!!  0.127874  1.0
가게   0.012714  1.0
가격  -0.061150 -1.0
가도   0.042254  1.0
..        ...  ...
후식   0.043163  1.0
후회   0.164468  1.0
휴가   0.146536  1.0
휴식   0.160904  1.0
흥미   0.060499  1.0

[1000 rows x 2 columns]

In [21]:
sentence = '음식 최악 서비스 안좋음'
words = sentence.split()

In [25]:
words

['음식', '최악', '서비스', '안좋음']

In [23]:
sent_df.reindex(words).계수.mean()

-0.5074878825622927

In [24]:
sent_df.reindex(words).극성.sum()

1.0